html{
    box-sizing:border-box
}

body{
    margin:0
}

.tooltip,.display-container{
    position:relative
}

.display-container:hover .display-hover{
    display:block
}
.display-container:hover span.display-hover{
    display:inline-block
}

.animate-opacity{
    animation:opac 0.8s
}

@keyframes opac{
    from{
        opacity:0
    }
     to{
        opacity:1
    }
}

.text-white,.hover-text-white:hover{
    color:#fff!important
}

.display-topleft{
    position:absolute;
    left:0;
    top:0
}

.padding-large{
    padding:12px 24px!important
}

.xlarge{
    font-size:24px!important
}

.display-middle{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%)
}

.jumbo{
    font-size:64px!important
}

.animate-top{
    position:relative;
    animation:animatetop 0.8s
}

@keyframes animatetop{
    from{
        top:-300px;
        opacity:0
    }
     to{
        top:0;
        opacity:1
    }
}

.border-grey,.hover-border-grey:hover,.border-gray,.hover-border-gray:hover{
    border-color:#9e9e9e!important
}

.large{
    font-size:18px!important
}

.center{
    text-align:center!important
}

.center .bar{
    display:inline-block;
    width:auto
}

.bar-block.center .bar-item{
    text-align:center
}

.center{
    text-align:center!important
}